<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>Introduction to this website..</p>
<p>
Developed by <%= link_to('Hannah Suarez', 'http://www.hannahsuarez.me/') %>.  This web application was created by
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
</p>
