<% content_for :title do %>Bio<% end %>
<h3>About Stacey Dean</h3>
<p>Introduction to the profile..</p>
<p>
Connect with me on <%= link_to('LinkedIn', 'https://ca.linkedin.com/in/staceydean') %>.
</p>